@media only screen and (max-width: 767px) {



    #box2 img {
        margin-top: 53%;
        margin-left: 21%;
        width: 91%;

    }
h3{
    font-size: 1.1rem;
    color: #418d35;
    margin: 3% 0%;
}
    #box1 h2 {
        font-size: 1.8rem;
        width: 149%;
    }

    #box1 p {
        font-size: 1rem;
    }

    #name {
        margin-top: 4%;
    }

    .nav-link {
        text-align: left;
        font-size: 1rem;
    }

    #row5 img {
        width: 25%;
    }

    #desc2 img {
        width: 15%;
    }

    .item p {
        width: 93%;
        font-size: .8rem;
        line-height: 1.8;
        font-weight: normal;
        font-family: 'Montserrat', sans-serif;
    }
    #about-me p{
        width: 80%;
        margin: 4% auto;
        line-height: 2;
    }

    #end-hire {
        font-size: 1rem;
        width: 80%;
    }

    #end-hire {
        padding-left: 3%;
    }

    #hire-me img {
        padding: 3%;
        width: 20%;
    }
}

@media only screen and (max-width: 576px) {
    #box1 h2 {
        
        width: 100%;
        font-size: 1.2rem;

    }
    #front-page {
        padding: 1% 3% 0% 0%;}
    .head {
        display: flex;
        flex-direction: column;
       
    }

    #name {
        margin-top: 5%;
        text-align: left;
        font-size: 1.6rem;
    }

    #box2 img {
        margin: 0% 0% 0% 35%;
        padding: 0;
        width: 70%;
    }

    .head h1:nth-child(1) {

        font-size: 2.5rem;
        text-align: left;
        margin: 3% 0%;
    }
    #box1 button {
        margin-top: 2%;
        padding: 2% 4%;
        font-size: .8rem;
    }

    #desc2 img {
        width: 10%;
    }

    #row5 img {
        width: 6%;
    }


    .item {
        padding: 0;
        margin: 3%;

    }

   

    .my-skill p {
     
        font-size: .8rem;
        width: 93%;
        margin: 7% auto;
        border: 1px solid #418d35;
    
    }


    #about-me p {
        width: 92%;
        margin: 8% auto;
        font-size: .8rem;
        color: white;
        line-height: 2;
        text-align: left;
        font-weight: normal;
        font-family: 'Montserrat', sans-serif;
      
    }
    #about-me img {
        width: 25%;
        margin: 5% 0% 0% 0%;
      
    }

    #education p {
        font-size: .8rem;
        
    }
    #top{
        width: 7%;
    }
    
}

@media only screen and (max-width: 1496px) and (min-width:950px) {

    #box2 img {
        margin-top: 46%;
    }

    #box1 h2 {
        font-size: 2.5rem;


    }

    #box1 {
        margin-top: 5%;
    }

    #desc2 img {
        width: 20%;
    }

    .item p {
        width: 70%;
    }

    #end-hire {
        font-size: 1.5rem;
        width: 80%;
    }

    #hire-me img {

        width: 6%;
    }

    .my-skill p {
        width: 93%;
    }    

}

@media only screen and (max-width: 950px) and (min-width:767px) {

    #box1 {
        margin-top: 6%;
    }

    .name h1:nth-child(1) {

        font-size: 3.5rem;

    }

    #desc2 img {
        width: 15%;

    }
    .my-skill p {
        width: 93%;
    }    

    .item p {
        width: 80%;
    }

    .nav-link {
        font-size: 1rem;
    }

    #box1 h2 {
        font-size: 2rem;
        width: 117%;

    }

    #box2 img {
        width: 111%;
        margin: 43% 0% 0% 0%;
    }

    #row5 img {
        width: 20%;
    }

    #end-hire {
        font-size: 1.5rem;
        width: 80%;
        padding-left: 3%;
    }

    #hire-me img {

        width: 10%;
        padding-left: 2%;


    }
  
}
@media only screen and (max-width: 400px) {
    #box2 img {
        margin: 0% 0% 0% 16%;
        width: 91%;
    }
}
